NODE_ENV=development

# network info
NETWORK=http://192.168.1.196
CLIENT_PORT=5173
PORT=5000

# postgres info
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_DATABASE=todo_pern
DB_PORT=5432